{% extends 'gym_app/base.html' %}

{% block content %}
<h1>Lista de Clientes</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Teléfono</th>
            <th>Pagado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido }}</td>
            <td>{{ cliente.telefono }}</td>
            <td>{{ cliente.pagado }}</td>
            <td>
                <a href="{% url 'editar_cliente' cliente.id %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'eliminar_cliente' cliente.id %}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'agregar_cliente' %}" class="btn btn-success">Agregar Cliente</a>
{% endblock %}
